html {  margin: 0; padding: 0; }
body {  margin: 0; padding: 0; }

body > header, body > main, body > footer, body > header > p:first-child {
  margin:     0;
  padding:    0 1em;
}
body > header, body > footer {
  background: #006072;
  color:      white;
}

body > header {
  border-radius: 0 0 100% 0;
  padding-bottom: 0.5em;
}

body > header a {
  color: #f0bb35;
}

main > article > h2 {
  color: #006072;
}

ol#nav {
  list-style-type: none;
}
ol#nav li {
  display: inline;
}
ol#nav li::after {
  content: ' | ';
}
ol#nav li:first-child::before {
  content: '[ ';
}
ol#nav li:last-child::after {
  content: ' ] ';
}

article > footer {
  border-left: 1px dashed #006072;
  padding-left: 0.6em;
}
article > footer p {
  margin: 0;
  padding: 0;
}
