body header {
  background-color: #006072;
}

ol#nav {
  list-style-type: none;
}
ol#nav li {
  display: inline;
}
ol#nav li::after {
  content: ' | ';
}
ol#nav li:first-child::before {
  content: '[ ';
}
ol#nav li:last-child::after {
  content: ' ] ';
}

article footer {
  border-left: 1px dashed red;
  padding-left: 0.6em;
}
article footer p {
  margin: 0;
  padding: 0;
}
