ol#nav {
  list-style-type: none;
}
ol#nav li {
  display: inline;
}
ol#nav li::after {
  content: ' | ';
}
ol#nav li:first-child::before {
  content: '[ ';
}
ol#nav li:last-child::after {
  content: ' ] ';
}
